<div class="container-fluid">
	<!-- 模拟请求 -->
	<hr/>
	<div class="row center-block">
		<form class="form-inline" ng-submit="request.send()">
			<div class="form-group" style="width: 80%">
				<input type="text" class="form-control" placeholder="请求地址" ng-model="request.url" ng-blur="request.check()" ng-change="request.hide()"
					ng-click="request.show()" style="width: 100%">
				<ul class="list-unstyled bg-info" style="position: absolute;z-index: 1000;max-height: 200px;overflow-y: auto;display:none" id="showHistory">
					<li style="cursor: pointer; border-bottom: 1px solid #ddd; padding: 8px;" class="text-info col-sm-11"
						ng-repeat="history in sendHistory track by $index" ng-click="request.send(history)">{{history}}</li>
				</ul>
			</div>
			<button type="button" ng-click="request.handleUrl()" class="btn btn-xs btn-info">转换</button>
			<button type="reset" class="btn btn-xs btn-warning">清除</button>
			<div class="form-group">
				<select class="form-control " ng-model="request.method">
					<option value="post">POST</option>
					<option value="get">GET</option>
					<option value="delete">DELETE</option>
					<option value="put">PUT</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">发送请求</button>
		</form>
	</div>
	<hr/>
	<div class="row">
		<form class="form">
			<div class="form-group col-xs-5">
				<label class="text-info">数据</label>
				<textarea ng-model="request.data" class="form-control " rows="25"></textarea>
			</div>
			<div class="form-group col-xs-7">
				<label class="text-success">结果</label>
				<textarea ng-model="request.result" class="form-control" rows="25"></textarea>
			</div>
		</form>
	</div>
</div>
