<div class="container-fluid">
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="tab-content tools-content">
                    <div role="tabpanel" class="tab-pane active">
                        <div class="col-md-3">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="file in tools.files|orderBy : 'name'">
                                    <button type="button"
                                            url="{{file.url}}"
                                            class="btn btn-xs btn-link"
                                            ng-click="tools.play(file.url)"
                                            style="white-space:normal"
                                    >
                                        {{file.name||file.filename}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <form class="form-inline content-minus">
                                <div class="form-group">
                                    <label>日期：</label>
                                    <input type="text" name="birthday" value="2018-12-08 11:36:00" class="form-control"
                                           placeholder="间隔天数"/>
                                    <label> - 当前时间：<span class="now-to-show text-primary"></span></label>
                                </div>
                                <h1 class="">
                                    <span class="label label-success minus-year">-</span>
                                    <small>年</small>
                                    <span class="label label-success minus-month">-</span>
                                    <small>个月</small>
                                    <span class="label label-success minus-day">-</span>
                                    <small>天</small>
                                    <span class="label label-success minus-hour">-</span>
                                    <small>小时</small>
                                    <span class="label label-success minus-minute">-</span>
                                    <small>分钟</small>
                                    <span class="label label-success minus-second">-</span>
                                    <small>秒</small>
                                </h1>
                                <h1>
                                    <small>共经过了</small>
                                    <span class="label label-danger total-second">-</span>
                                    <small>秒</small>
                                </h1>
                                <h1>
                                    <small>共经过了</small>
                                    <span class="label label-warning total-minute">-</span>
                                    <small>分钟</small>
                                </h1>
                                <h1>
                                    <small>共经过了</small>
                                    <span class="label label-success total-hour">-</span>
                                    <small>小时</small>
                                </h1>
                                <h1>
                                    <small>共经过了</small>
                                    <span class="label label-info total-day">-</span>
                                    <small>天</small>
                                </h1>
                                <h1>
                                    <small>共经过了</small>
                                    <span class="label label-primary minus-month">-</span>
                                    <small>个月</small>
                                </h1>
                            </form>
                            <form class="form-horizontal content-player" style="display: none">
                                <div class="form-group">
                                    <input type="file" id="fileToPlay" accept="video/*, audio/*" multiple="multiple"/>
                                </div>
                                <div class="form-group" style="width: 100%">
                                    <input type="text" class="form-control" placeholder="播放地址" id="addressToPlay"/>
                                </div>
                                <div class="form-group">
                                    <video class="col-md-12" controls id="PlayFlie">
                                        您的浏览器不支持 video 标签。
                                    </video>
                                    <audio class="col-md-12 hidden" controls id="PlayFlie">
                                        您的浏览器不支持 video 标签。
                                    </audio>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="list-group tools">
                        <button type="button" class="list-group-item" ng-click="tools.minus">间隔天数</button>
                        <button type="button" class="list-group-item">多媒体播放</button>
                        <button type="button" class="list-group-item">字符串长度</button>
                        <button type="button" class="list-group-item">JSON格式化</button>
                        <button type="button" class="list-group-item">字母大小写</button>
                        <button type="button" class="list-group-item">时间格式化</button>
                        <button type="button" class="list-group-item">二维码生成</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
